{
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "double"],
        "linebreak-style": ["error", "unix"]
    },
    
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },

}